*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: whitesmoke;
    height: 100px;
    padding: 10px;
}

header>img{
    vertical-align: middle;
    height: 80px;    
}

header>span{
    vertical-align: middle;
    text-align: middle;
    font-size: 50px;
    font-weight: 800;
}

main{
    background-color: lightgray;
    height: 1200px;
    padding-top: 25px;
}

.container{
    background-color: white;
    margin: 0 auto;
    max-width: 990px;
    max-height: 1300px;
    border-radius: 15px;
}

.blue{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: solid blue;
    padding: 5px 10px;
    font-weight: 600;
}

.top{
    padding: 20px 50px;
    border-bottom: 2px solid lightgray;
}

.nocolor{
    color: gray;
    border-radius: 5px;
    background-color: transparent;
    border: solid gray;
    padding: 5px 10px;
    font-weight: 600;
}

.bottom{
    height: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 20px 50px;
}

ul{
    list-style-type: none;
}

li{
    padding: 8px 0;
}

.none{
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
    color: red;
    margin-right: 5px;
}

.ok{
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
    color: green;
    margin-right: 5px;
}

.bluelabel{
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.purplelabel{
    background-color: purple;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.greenlabel{
    background-color: green;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.orangelabel{
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.pinklabel{
    background-color: pink;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.lightgreenlabel{
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}